/data
/eduDomainData.js
/httpProxies.txt
/httpProxyScraper - Original.js
/iproyal.txt
/node_modules
/package-lock.json
/package.json
/queryserver_copy.js
/scraper - copy*
/socks4.txt
/socks5.txt
/test.js
/ThreadTesting
/scrub folder/node_modules
/scrub folder/old
scrub folder/Library*.*
scrub folder/NewLeads*.*
scrub folder/output.csv
output.csv
proxylist.txt
